// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.parent {
  display: flex;
  flex-direction: column;

}

.card {
  padding: 30px;
  margin: 30px;
  text-align: center;
   width: 200px;
}